@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OneNeo";
  src: url("/fonts/oneNeo.woff");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2");
}